* {
  margin: 0;
  padding: 0;
  
  text-decoration: none;
  list-style: none;
}

:root{
 --ligth:rgb(245, 245, 245);
 --dark:rgb(0, 15, 25);
 --blue:rgb(0, 153, 255);
 --gray:rgb(70, 70, 70);
}

.body {
  background: url(../assets/images/fondo.jpg) no-repeat 0px 0px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 0;
  text-align: justify;
}

.body::before{
  content: "";
  background-color: rgba(0, 15, 25, 0.90);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

/*-- Section Light --*/
.section-light {
  background-color: var(--ligth);
}
.line-light {
  height: 5px;
  width: 100px;
  background-color: var(--blue);
}

/*-- Section Dark --*/
.section-dark {
  background-color: var(--dark);
}

.line-dark {
  height: 5px;
  width: 100px;
  background-color: var(--gray);
}

/* Banner */
.banner {
  height: 100vh;
  width: 100%;
  background-image: url(../assets/images/fondo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-content {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 15, 25, 0.9);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.banner-content h1 {
  color: #fafafa;
  font-size: 90px;
  margin-top: 50px;
  -webkit-text-stroke: 1px #001522;
}
.banner-content h3 {
  color: #fafafa;
  -webkit-text-stroke: 1px #001522;
}
.banner-content h4 {
  margin-top: 100px;
  color: #fafafa;
  -webkit-text-stroke: 1px #001522;
}

/* Header */
.header {
  background-color: var(--dark) 
}
.navbar {
  max-width: 1200px;
  margin: 0 auto;
}

/*-- acerca de --*/
.about-img { 
  margin: 0 auto;
  width: fit-content;
  background-color: black;
}

.about-img img {
  border-bottom: 1px solid;
  border-bottom-color: var(--ligth);
  border-left: 1px solid;
  border-left-color: var(--ligth);
  margin: 10px;
}

/*-- services --*/
.service-card {
  transition: 0.8s ease-out;
  border-radius: 4px;
  background: rgba(128, 128, 128, 0.15);
}

.service-card:hover {
  background:  rgba(0, 10, 20, 0.85);
  transition: 0.3s ease-out;
  opacity: 0.8;
}

.service-card h5 {
  line-height: 25px;  
  font-size: 25px;
}

.service-card p {
  line-height: 25px;  
  font-size: 15px;
}

.service-card i {
  position: absolute;
  opacity: 0.2;
  font-size: 45px;
}

/*-- Contact --*/
.icon i {
  font-size: 30px;
  margin-right: 100px;
}

.contact-form {
  padding: 1em;
  background-color: #fdfdfd;
  border-radius: 2px;
  box-shadow: 2px 0px 5px 0px #bbbbbb;
}

/*-- Footer --*/
.footer{
  background-color: var(--dark);
}



@media (max-width:300px) {
  .about-img img {
  width: 150px;
  height: 150px;
  }
}


/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {
  .service-card {
    height: fit-content;
  }
  .social{
    justify-content: center;
  }
}

/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
  .about-img img {
    width: 250px;
    height: 300px;
  }
  .service-card {
    height: fit-content;
  }
  .footer{
    font-size: 15px;
  }
  
}

@media only screen and (min-width: 768px) {
  .social{
    justify-content: left;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) {

  .section-light h6{
    font-size: 20px;
  }
  .section-light p{
    font-size: 18px;
  }
  .service-card {
    height: fit-content;
  }
  .icon i {
    font-size: 25px;
    margin-right: 100px;
  }
  .contact-form h5{
    font-size: 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .service-card {
    height: 250px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}