* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
	padding:0;
	margin:0;

  background:url(/assets/images/contacto.jpg) no-repeat 0px 0px;
  background-size:cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  -ms-background-size:cover;
   background-attachment: fixed;

   color : #000000;

}

/* Banner */
.banner {
  height: 100vh;
  width: 100%;
  background-image: url("../assets/images/fondo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-content {
  height: 100vh;
  width: 100%;
  background-color: rgba(3, 22, 37, 0.65);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.banner-content h1 {
  color: #fafafa;
  font-size: 90px;
  margin-top: 50px;
  -webkit-text-stroke: 1px #001522;
}
.banner-content h3 {
  color: #fafafa;
  -webkit-text-stroke: 1px #001522;
}
.banner-content h4 {
  margin-top: 100px;
  color: #fafafa;
  -webkit-text-stroke: 1px #001522;
}

/* Header */
.header{
  background-color: #011d30;
}

.navbar {
  color: #011d30;
  max-width: 1170px;
  margin: 0 auto;
}

/* Section Dark */
.section-dark {
  background-color: #001522;
  color: #fafafa;
}

.line-dark {
  height: 5px;
  width: 100px;
  background-color: #919191;
}

/* Section Light*/
.section-light {
  background-color: #f9f9f9;
}

.line-light {
  height: 5px;
  width: 100px;
  background-color: #0099ff;
}

.box-line-light {
  height: 2px;
  background-color: #bbbbbb;
}

/*--  services --*/
.services {
  /*background:url(/assets/images/contacto.jpg) no-repeat 0px 0px;
  background-size:cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  -ms-background-size:cover;
   background-attachment: fixed;*/
   background-color: #001522;
}

.services p {
  line-height: 25px;
  letter-spacing: .5px;
  font-size: 15px;
}

.service-card {
  padding: 1em;
  background-color: #001522;;
  border-radius: 2px;
  box-shadow: 2px 0px 5px 0px #bbbbbb;
}

.service-card h3 {
  font-size: 25px;
}

.service-card i {
  position: absolute;
  opacity: .2;
  font-size: 45px;
}

.service-card p{
  font-size: 15px;
} 


/*-- // services --*/

/* Contacto */
.icon i {
  font-size: 25px;
}

.line-contact{
  height: 20px;
  width: 10px;
  background-color: #bbbbbb;
}

.contact-form {
  padding: 1em;
  background-color: #fdfdfd;
  border-radius: 2px;
  box-shadow: 2px 0px 5px 0px #bbbbbb;
}

.contact-social{

}





/* Iconos */
#icono-down {
  font-size: 40px;
  color: #fafafa;
  margin-top: 100px;
  -webkit-text-stroke: 1px #001522;
}

#mail-form {
  color: #011d30;
}

