@charset "UTF-8";

:root{
--primary-color:#002035;
--secundary-color: #1d6763;
--tertiary-color: #0488c5;
--light:#F5F5F5;
--light-gray:#cccccc;
--light-gray-two:#777777;
--light-white:#ffffff;
--dark: #00101f;
--text-color: black;
}

body {
  background-color: var(--secundary-color);
  position: relative;
  z-index: 0;
  top:70px;
  
}


body h1, h2, h3, h4, h5, h6, p, button {
  font-family: 'Quicksand', sans-serif;
}

/* Header */
.header {
  background-color: var(--dark) ;
  box-shadow: 0px 5px 10px -6px var(--primary-color);
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-nav a {
  color: var(--ligth);
  position: relative;
}

.navbar-nav a::after {
  content: "";
  background-color: var(--tertiary-color);
  position: absolute;
  left: 10px;
  margin: 0 auto;
  top: calc(85%);
  width: 80%;
  height: 2px;
  opacity: 0;
  transition: opacity 0.3s;
}

.navbar-nav a.selected::after,
.navbar-nav a:hover::after {
  opacity: 0.8;
}

.navbar-nav a:hover {
  color: var(--ligth);
}

/*-- Section Light --*/
.section-light {
  background-color: var(--light);
}

.section-light-white {
  background-color: var(--light-white);
}

.line-light{
  height: 6px;
  width: 100px;
  background-color: var(--secundary-color);
}

/*-- Section Dark --*/
.section-dark {
  background-color: var(--primary-color);
}

.line-dark {
  height: 5px;
  width: 100px;
  background-color: var(--tertiary-color);
}

/*-- acerca de --*/
#download,#send{
 background-color: var(--secundary-color);
 border: none;
 transition: 0.5s ease-out;
}

#download:hover,#send:hover{
  background-color: var(--dark);
  border: none;
 }

.about-img { 
  margin: 0 auto;
  width: fit-content;
}

.about-img img {
  border-radius: 49%;
  border: 2px solid var(--light-gray);
  background-color: var(--secundary-color);
  box-shadow: 0px 15px 20px -6px var(--light-gray-two);
}

/*-- habilidades --*/
.line-box{
  height: 1px;
  width: 100%;
  background-color: var(--light-gray);
  margin-bottom: 15px;
}

.arrow{
  font-size: 30px;
  color: var(--secundary-color);  
}

.skills-icon{
  font-size: 30px;
  margin-right: 10px;
}

/*-- linea divisoria --*/
.wave {
  width: 100%;
  position: relative;
  top: 5px;
}

.wave-bottom {
  transform: scaleY(-1);
  position: relative;
  top: -5px;
}

/*-- Educacion --*/

.education [data-content]{
  display: none;
}

.seleccion-activa[data-content]{
  display: flex;
}

.seleccion {
  cursor: pointer;
}
.seleccion:hover{
  color: var(--tertiary-color);
}

.seleccion.seleccion-activa{
  color:lightblue;
}

.seleccion.seleccion-activa :hover{
  color:var(--tertiary-color);
}

.circle{
  width: 15px;
  height: 15px;
  background-color: var(--light);
  border-radius: 50px;
}

.line{
 display: block;
 width: 2px;
 height: 90%;
 background-color: var(--light-gray);
}

/*-- services --*/
.service-card {
  height:250px;
  transition: 0.2s ease-out;
  background: var(--light-white);
  border: 1px solid var(--light-gray);
  box-shadow: 0px 10px 10px -6px var(--light-gray);
}

.service-card:hover {
  background: var(--primary-color);
  color: var(--light);
  transition: 0.1s ease-out;
}

.card .icon-holder {
  position: absolute;
  left: 0;
  right: 0;
  top: -30px;
}

.icon-holder span.uil {
  background: var(--secundary-color);
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 100%;
  color: var(--light-white);
  font-size: 40px;
}

.service-card p {
  font-size: 15px;
}

.icon{
  font-size: 30px;
}

.contact-form {
  padding: 1em;
  background-color: var(--light-white);
  border-radius: 10px;
  border: 1px solid var(--light-gray);
  box-shadow: 0px 10px 10px -6px var(--light-gray);
}

/*-- Footer --*/
.footer{
  background-color: var(--dark);
  font-size: 14px;
  height: 50px;
}


/* Media Queries */

@media only screen and (max-width:325px) {
  .about-img img {
  width: 175px;
  height: 200px;
  }

  .social{
    justify-content: center;
    margin-top:30px;
  }

  .service-card {
    height: fit-content;
    margin: 5% 0;
  }

  .social{
    justify-content: center;
  }

  .footer p {
    font-size: 11px;
    text-align: center;
  }
}

/* Medium devices ( phones 300px to 576px) */
@media only screen and (min-width: 325px) and (max-width: 576px) {

  body p{
    text-align: justify;
    font-size: 20px;
  }

  body h6{
    font-size: 20px;
  }

  body h5{
    font-size: 20px;
  }

  body h4{
    font-size: 22px;
  }

  body h3{
    font-size: 25px;
  }

  body h2{
    font-size: 27px;
  }

  body h1{
    font-size: 30px;
    text-align: center;
  }

  .social{
    justify-content: center;
    margin-top:30px;
  }

  .about-img img {
    width: 225px;
    height: 275px;
  }

  .btn-download{
    width: fit-content;
    margin: 20px auto 20px auto;
  }

  .service-card {
    height: fit-content;
    margin: 5% 0;
  }

  .social{
    justify-content: center;
  }

  .footer p {
    font-size: 11px;
    text-align: center;
  }

}

/* Medium devices (portrait tablets and large phones 675 to 768px) */
@media only screen and (min-width: 576px) and (max-width: 768px) {
  
  body p{
    text-align: justify;
    font-size: 20px;
  }

  body h6{
    font-size: 25px;
  }

  body h5{
    font-size: 25px;
  }

  body h4{
    font-size: 30px;
  }

  body h3{
    font-size: 35px;
  }

  body h2{
    font-size: 40px;
  }

  body h1{
    font-size: 45px;
    text-align: center;
  }

  .btn-download{
    width: fit-content;
    margin: 10px auto 20px auto;
  }

  .about-img img {
    width: 250px;
    height: 300px;
  }

  .service-card {
    height: fit-content;
    margin: 5% 10%;
  }

  .service-card p {
    font-size: 20px;
  }

  .social{
    justify-content: center;
    margin-top:30px;
  }

  .footer p {
    font-size: 14px;
    text-align: center;
  }
}

/* Medium devices (tablets and note books, 768px to 992px) */
@media only screen and (min-width: 768px) and (max-width: 992px) {

  .service-card {
    height: fit-content;
  }

  .about-img img {
    width: 275px;
    height: 325px;
  }

  .contact-form h5{
    font-size: 20px;
    padding-top: 3px;
  }

  .social{
    justify-content: left;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .service-card {
    height: 250px;
  }

  .social{
    justify-content: left;
  }
}



